---
BasedOnStyle: Mozilla

---
Language: Cpp
# Braches requires for control statements (requires clang-format v15)
# InsertBraces: true
# Add newlines between function definitions (requires clang-format v14)
SeparateDefinitionBlocks: Always
