# Build, cache, and program folders
/.cache
/.venv
/.vscode
/build

# Compilation Database - for clang-tidy
compile_commands.json

# AdapterRemoval output
/examples/output*
your_output.*

# Misc files
*.patch
*.gcov
*~
